html,
body
{
  height: 100%;
}

body
{
  background: #000 url(./background.jpg) no-repeat center center;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

#content
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 50px;
  background: rgba(0,0,0,0.5);
  border-radius: 25px;
  color: #fff;
  text-align: center;
}

#name
{
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
}

button
{
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}